@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Yuji+Syuku&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #3e1515;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: rgba(163, 143, 138, 0);
}

h1,
h2,
h3,
ul,
#nav li {
    font-family: 'Yuji Syuku', serif;
}

h1 {
    text-transform: uppercase;
    font-size: 240%;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.centred {
    text-align: center;
}

#nav {
    width: 370px;
    right: 0px;
    top: 3px;
    position: absolute;
}

#nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
}

#nav li {
    margin-left: 20px;
    margin-right: 0px;
}

.header-hero {
    height: 600px;
    width: 100%;
    text-align: left;
    background: url('../images/hero-image.webp') no-repeat center center;
    top: 0;
    left: 0;
    position: relative;
}

.index-heading {
    padding-top: 20px;
}

.logo {
    padding-left: 10px;
}

article>p,
aside>p {
    padding-right: 30px;
    padding-left: 30px;
}

.main,
.side {
    font-size: 24px;
}

.main,
.main>p {
    background-color: #ecd8d1;
}

.sidebar1,
.sidebar1>h2,
.sidebar2,
.sidebar2>h2 {
    background-color: #ecd8d1;
}

/* Flexbox */

.flexbox {
    display: flex;
    flex-flow: row wrap;
}

.flexbox>* {
    flex: 1 100%;
}

/* Kanji box on Index hero image */

#kanji-box {
    background-color: rgba(23, 9, 8, 0.6);
    width: 140px;
    height: 390px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#kanji-text {
    font-family: 'Yuji Syuku', serif;
    color: #ecd8d1;
    background-color: rgba(62, 21, 21, 0);
    font-size: 700%;
    line-height: 1.1;
    text-align: center;
}

/* Training Times */

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 0 10px;
}

/* Footer */

footer {
    height: auto;
}

.quote-social,
.quote-social>h2,
.social-icons i {
    background-color: #3f3130;
    color: #ecd8d1;
}

.social-icons > li {
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
}

.social-icons i {
    font-size: 240%;
    margin: 1%;
    padding: 0 5% 20px;
}

.quote {
    margin: 20px;
}

/* FAQ */

.header-dojo {
    height: 687px;
    width: 100%;
    text-align: left;
    background: url('../images/dojo-header.png') no-repeat center center;
    top: 0;
    left: 0;
    position: relative;
}

.accordion {
    background-color: #ecd8d1;
    color: #3e1515;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #c7afa8;
}

.panel {
    padding: 0;
    display: none;
    background-color: #ecd8d1;
    overflow: hidden;
}

.panel>p {
    padding: 0 20px;
}

.hall-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 566px;
}

video {
    max-width: 100%;
    height: auto;
}

/* Gallery */

#pics {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    background-color: #ecd8d1;
}

#pics>img {
    width: 100%;
}

/* Gallery and Join */

.header-normal {
    background-color: #ecd8d1;
}

/* Join */

.form-section {
    clear: left;
    background: url('../images/keikogi.jpg');
    background-size: cover;
    background-position: center;
    height: 1200px;
}

.signup-form {
    margin: 100px 10% 0 0;
    color: #ecd8d1;
    background-color: rgba(44, 36, 32, 0.6);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 30px;
}

.signup-form>h2 {
    color: #ecd8d1;
    margin-bottom: 20px;
}

label {
    color: #ecd8d1;
}

.text-input {
    background: transparent;
    color: #ecd8d1;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ecd8d1;
    border-radius: 2px;
}

.comment-input {
    background: transparent;
    color: #ecd8d1;
    width: 100%;
    height: 75px;
    margin: 5px 0 20px 0;
    border: 1px solid #ecd8d1;
    border-radius: 2px;
}

.text-input:hover,
.comment-input:hover {
    border-color: #47352e;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #47352e;
    color: #ecd8d1;
    display: block;
}

.join-button:hover {
    background-color: #ecd8d1;
    color: #47352e;
}

/* Tooltip */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #47352e;
    color: #ecd8d1;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -170px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Responsiveness */

@media all and (min-width: 1200px) {
    .main {
        flex: 3;
    }

    .main {
        order: 2;
    }

    .sidebar1 {
        order: 1;
    }

    .sidebar2 {
        order: 3;
    }

    .quote-social {
        order: 4;
    }

}

@media all and (min-width: 600px) {
    .side {
        flex: 1;
    }

}

@media all and (max-width: 700px) {
    #nav {
        left: 10px;
        position: relative;
    }

    #nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-size: 24px;
        font-weight: bold;
    }

    #nav li {
        margin-left: 0px;
        margin-right: 20px;
    }

    .color-swap {
        color: #ecd8d1;
        background-color: #47352e;
    }

    .hall-image {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #pics {
        column-count: 1;
    }
}