@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Yuji+Syuku&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #3e1515;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: rgba(163, 143, 138, 0);
}

h1, h2, h3, ul, li {
    font-family: 'Yuji Syuku', serif;
}

h1 {
    text-transform: uppercase;
    font-size: 240%;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.centred {
    text-align: center;
}

#nav {
    width: 370px;
    right: 0px;
    top: 3px;
    position: absolute;
}

#nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
}

li {
    margin-left: 20px;
    margin-right: 0px;
}

.header {
    height: 600px;
    width: 100%;
    text-align: left;
    background: url('../images/hero-image.webp') no-repeat center center;
    top: 0;
    left: 0;
    position: relative;
}

.main, .side {
    font-size: 24px;
}

.main, .main > p {
    background-color: #eed7d1;
}

.sidebar1, .sidebar1 > h2, .sidebar2, .sidebar2 > h2 {
    background-color: #eed7d1;
}

.social-media, .social-media > h2 {
    background-color: #3f3130;
    color: #eed7d1;
}

#kanji-box {
    background-color: rgba(23, 9, 8, 0.6);
    width: 140px;
    height: 390px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#kanji-text {
    font-family: 'Yuji Syuku', serif;
    color: #eed7d1;
    background-color: rgba(62, 21, 21, 0);
    font-size: 700%;
    line-height: 1.1;
    text-align: center;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
}

.flexbox > * {
    flex: 1 100%;
}

@media all and (min-width: 1200px) {
    .main {
        flex: 3;
    }
    .main {
        order: 2;
    }
    .sidebar1 {
        order: 1;
    }
    .sidebar2 {
        order: 3;
    }
    .social-media {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .side {
        flex: 1;
    }
}

@media all and (max-width: 700px) {
    #nav {
        left: 10px;
        position: relative;
    }   
    #nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-size: 24px;
        font-weight: bold;
    }   
    li {
        margin-left: 0px;
        margin-right: 20px;
    }
}
